@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Encode Sans", system-ui, sans-serif;
  font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  h1 {
    @apply text-6xl font-bold;
  }
  
  h2 {
    @apply text-5xl font-semibold;
  }
  
  h3 {
    @apply text-3xl font-medium;
  }
  
  h4 {
    @apply text-xl font-medium;
  }
  
  h5 {
    @apply text-lg font-medium;
  }
  
  h6 {
    @apply text-base font-medium;
  }
}

@layer base {
  :root {
    --licorice: 0, 5%, 5%;
    --wenge: 5, 6%, 40%;
    --silver: 8, 6%, 67%;
    --platinum: 210, 3%, 87%;
    --indian-red: 355, 35%, 56%;
    --turkey-red: 0, 100%, 35%;
    --golden-brown: 34, 98%, 32%;
    --transparent: 0 0% 0%;

    --background: var(--platinum);
    --foreground: var(--licorice);

    --card: var(--platinum);
    --card-foreground: var(--licorice);

    --popover: var(--platinum);
    --popover-foreground: var(--licorice);

    --primary: var(--platinum);
    --primary-foreground: var(--licorice);

    --secondary: var(--wenge);
    --secondary-foreground: var(--platinum);

    --alt: var(--golden-brown);
    --alt-foreground: var(--platinum);
    
    --muted: var(--silver);
    --muted-foreground: var(--wenge);

    --accent: var(--indian-red);
    --accent-foreground: var(--platinum);

    --destructive: var(--turkey-red);
    --destructive-foreground: var(--platinum);

    --warning: var(--golden-brown);
    --warning-foreground: var(--platinum);

    --success: var(--wenge);
    --success-foreground: var(--platinum);

    --border: var(--silver);
    --input: var(--silver);
    --ring: var(--turkey-red);

    --radius: 0.5rem;

    --shadow: var(--licorice);

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
